name: Build and Deploy

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4

      - name: Login docker
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build
        run: |

          SERVER_APPLICATION_PATH="~/trackin"
          SSH_KEY_PATH="$HOME/.ssh/ssh_key"
          ENV_PATH="$HOME/.env"
          SERVER_USER='${{ secrets.SERVER_USER }}'
          SERVER_IP='${{ secrets.SERVER_IP }}'

          mkdir -p "$(dirname $SSH_KEY_PATH)"

          echo '${{ secrets.SERVER_PRIVATE_KEY }}' > "$SSH_KEY_PATH"
          chmod 700 "$SSH_KEY_PATH"
          echo '${{ secrets.ENV }}' > "$GITHUB_WORKSPACE/.env.prod"

          # Prepare directory on the server
          ssh -o StrictHostKeyChecking=no -i "$SSH_KEY_PATH" "$SERVER_USER@$SERVER_IP" << EOF
            set -xe

            if [ "$SERVER_APPLICATION_PATH" == "/home/$SERVER_USER" ] || [ -z "$SERVER_APPLICATION_PATH" ]; then
              echo "ERROR: Dangerous path detected! Stopping to save your server."
              exit 1
            fi

            # Safe to proceed
            mkdir -p "$SERVER_APPLICATION_PATH"
            chown -R "$SERVER_USER:$SERVER_USER" "$SERVER_APPLICATION_PATH"
          EOF

          # Copy files from agent to the server
          rsync -avz -e "ssh -o StrictHostKeyChecking=no -i $SSH_KEY_PATH" \
            "$GITHUB_WORKSPACE/" \
            "$SERVER_USER@$SERVER_IP:$SERVER_APPLICATION_PATH"

          # Start the docker container
          ssh -o StrictHostKeyChecking=no -i "$SSH_KEY_PATH" "$SERVER_USER@$SERVER_IP" << EOF
             cd $SERVER_APPLICATION_PATH
             docker compose --env-file .env.prod -f compose.prod.yaml up --build -d
          EOF
